/*
 * ************************************
 * FRONT-END
 * ************************************
 */
/** FONTS EXTERNO */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,200italic,400italic,600,600italic,700,700italic,900,900italic);
/** FONTS INTERNO */
@font-face {
  font-family: 'futura_normal';
  src: url("../../assets/fonts/FUTURANORMAL.woff2") format("woff2"), url("../../assets/fonts/FUTURANORMAL.woff") format("woff"), url("../../assets/fonts/FUTURANORMAL.ttf") format("truetype"); }
@font-face {
  font-family: 'futura_extend';
  src: url("../../assets/fonts/FUTURAEXTENDED.woff2") format("woff2"), url("../../assets/fonts/FUTURAEXTENDED.woff") format("woff"), url("../../assets/fonts/FUTURAEXTENDED.ttf") format("truetype"); }
@font-face {
  font-family: 'futura_oblique';
  src: url("../../assets/fonts/FUTURAOBLIQUE.woff2") format("woff2"), url("../../assets/fonts/FUTURAOBLIQUE.woff") format("woff"), url("../../assets/fonts/FUTURAOBLIQUE.ttf") format("truetype"); }
/** MIXINS */
/** GLOBALES */
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  visibility: none !important; }
.uppercase{
  text-transform: uppercase !important;
}
.capitalize{
  text-transform: capitalize !important;
}
body {
  overflow-x: hidden; }

.pagina-interna {
  background: #eaeaea; }
  .pagina-interna main {
    margin-top: -50px;
    position: relative;
    width: 100%;
    float: left; }

.m-t-25{
  margin-top: 25px; }

.m-t-30{
  margin-top: 30px; }

.img-center {
  margin: 0 auto; }

.pad_left {
  padding-left: 0px !important; }

a, button {
  outline: none;
  cursor: pointer; }

em.error {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -12px;
  font-size: 10px;
  line-height: 10px;
  color: red; }

form {
  position: relative;
  float: left;
  padding: 0;
  width: 100%; }

*:focus {
  outline: none; }

hr {
  width: 100%;
  float: left;
  margin-top: 0;
  display: block;
  border-top: 1px solid #ccc; }

a[role="tab"]{
  width: 100%;
  display: block;
  position: relative; }

.mrgBot {
  margin-bottom: 50px; }

/** TENOR PAGINAS INTERNAS */
#tenor-page {
  padding: 0 !important;
  max-height: 425px;
  position: relative; }
  #tenor-page .tenor {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #tenor-page .tenor .text {
      text-align: center;
      width: 100%;
      position: relative;
      color: #fff;
      letter-spacing: 2px;
      line-height: 50px;
      text-shadow: 0px 0px 19px black;
      text-transform: uppercase;
      font-family: "futura_extend", sans-serif;
      font-size: 63px;
      font-weight: 500; }
      #tenor-page .tenor .text span {
        font-family: "futura_extend", sans-serif;
        font-size: 39px;
        font-weight: 400; }

/** HEADER */
header {
  height: 150px;
  background: #fff;
  padding: 0 !important; }
  header .brand {
    padding: 25px 0; }
  header .sub-header {
    width: 103%;
    background: #249119;
    padding: 7px 0;
    position: relative;
    height: 50px;
    float: left;
    font-style: italic;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 200; }
    header .sub-header a {
      color: #fff;
      line-height: 32px; }
    header .sub-header .form-control {
      border: 0 !important; }
    header .sub-header .btn {
      padding: 4px 30px;
      border-color: #e5e5e5;
      background: #e5e5e5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      header .sub-header .btn i {
        font-size: 19px;
        color: #999999; }
    header .sub-header > .col-md-6 {
      padding: 0 7px !important; }
    header .sub-header .menu-info li > img {
      width: 20px;
      margin: 5px 5px 0 0; }
  header .menu > div {
    padding: 0; }
  header .menu li {
    border-left: 1px solid #dcdcdc;
    height: 100px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    header .menu li a {
      padding: 30px 20px;
      text-align: left;
      display: block;
      width: 100%;
      color: #666666;
      letter-spacing: -1px;
      text-decoration: none;
      line-height: 18px;
      max-height: 100px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400; }
      header .menu li a span.img {
        border: 1px solid #989898;
        padding: 6px 9px;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        header .menu li a span.img img.active {
          top: 6px;
          left: 9px;
          width: 20px;
          position: absolute;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        header .menu li a span.img img.hover {
          width: 20px;
          position: absolute;
          bottom: -26px;
          left: 9px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
      header .menu li a span.subtitulo {
        display: block;
        width: 100%;
        color: #009340;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 400; }
    header .menu li:hover, header .menu li:focus {
      background: #e6e6e6; }
    header .menu li:hover a span.subtitulo, header .menu li:focus a span.subtitulo {
      color: #e5780e; }
    header .menu li:hover a span.img, header .menu li:focus a span.img {
      border-color: #e5780e; }
    header .menu li:hover a span.img img.active, header .menu li:focus a span.img img.active {
      top: -26px; }
    header .menu li:hover a span.img img.hover, header .menu li:focus a span.img img.hover {
      bottom: 6px; }
  header .menu .cotizaciones {
    border-left: 1px solid #dcdcdc;
    padding: 10px;
    width: 150px;
    height: 100px; }
    header .menu .cotizaciones a {
      color: #fff;
      width: 100%;
      height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      background: #e5780e;
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      font-weight: 200; }
      header .menu .cotizaciones a span {
        display: block;
        width: 100%; }
        header .menu .cotizaciones a span img {
          width: 16px; }

/** FOOTER */
footer {
  color: #666;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400; }
  footer .container:first-child {
    letter-spacing: 0.5px;
    line-height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400; }
    footer .container:first-child > div {
      padding: 50px 0; }
    footer .container:first-child img {
      width: 30px; }
  footer .container:last-child {
    padding-bottom: 20px; }

/**
****** HOME ******
*/
/** SLIDER */
#slider {
  padding: 0 !important; }
  #slider .ms-partialview-template .ms-slide {
    -webkit-transform: scale(1) rotateY(0.01deg) !important;
    -moz-transform: scale(1) rotateY(0.01deg) !important;
    -ms-transform: scale(1) rotateY(0.01deg) !important;
    -o-transform: scale(1) rotateY(0.01deg) !important;
    transform: scale(1) rotateY(0.01deg) !important; }
    #slider .ms-partialview-template .ms-slide .ms-info {
      opacity: 0;
      filter: alpha(opacity=0);
      position: absolute;
      top: 0;
      left: 30px;
      background: rgba(0, 0, 0, 0.5);
      z-index: 99;
      height: 100%;
      width: 380px;
      padding: 40px;
      color: #fff;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease; }
      #slider .ms-partialview-template .ms-slide .ms-info .valign {
        width: 100%; }
      #slider .ms-partialview-template .ms-slide .ms-info h3 {
        margin: 5px;
        text-transform: uppercase;
        text-align: justify;
        font-family: "futura_extend", sans-serif;
        font-size: 54px;
        font-weight: 300; }
      #slider .ms-partialview-template .ms-slide .ms-info p, #slider .ms-partialview-template .ms-slide .ms-info .section article li, .section article #slider .ms-partialview-template .ms-slide .ms-info li {
        margin: 6px;
        text-align: justify;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300; }
      #slider .ms-partialview-template .ms-slide .ms-info a {
        border-style: solid;
        border-width: 6px;
        border-color: #423F3F;
        padding: 10px 50px;
        background-color: #e5780e;
        text-transform: uppercase;
        color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px;
        font-family: "", sans-serif;
        font-size: 11px;
        font-weight: 700; }
  #slider .ms-partialview-template .ms-sl-selected .ms-info {
    opacity: 100 !important;
    filter: alpha(opacity=100) !important; }
  #slider .ms-skin-default .ms-nav-prev {
    left: -55px;
    background-image: url(../../assets/img/arrow-left-sl.svg);
    -webkit-border-radius: 70px 0 0 70px;
    -moz-border-radius: 70px 0 0 70px;
    -ms-border-radius: 70px 0 0 70px;
    border-radius: 70px 0 0 70px; }
  #slider .ms-skin-default .ms-nav-next {
    right: -55px;
    background-image: url(../../assets/img/arrow-right-sl.svg);
    background-position: center;
    background-size: 33px;
    background-repeat: no-repeat;
    width: 55px;
    height: 110px;
    margin-top: -55px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0 70px 70px 0;
    -moz-border-radius: 0 70px 70px 0;
    -ms-border-radius: 0 70px 70px 0;
    border-radius: 0 70px 70px 0; }
  #slider .ms-skin-default .ms-nav-prev {
    background-position: center;
    background-size: 33px;
    background-repeat: no-repeat;
    width: 55px;
    height: 110px;
    margin-top: -55px;
    background-color: rgba(0, 0, 0, 0.5); }
  #slider .ms-skin-default .ms-nav-next:hover, #slider .ms-skin-default .ms-nav-next:focus {
    background-color: #1f8919; }
  #slider .ms-skin-default .ms-nav-prev:hover, #slider .ms-skin-default .ms-nav-prev:focus {
    background-color: #1f8919; }

/** SERVICIOS */
#servicios {
  padding: 80px 0 120px; }
  #servicios h2, #servicios h5 {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #249119; }
  #servicios h2 {
    font-family: "futura_oblique", sans-serif;
    font-size: 54px;
    font-weight: 300; }
  #servicios h5 {
    color: #7b7b7b;
    margin-bottom: 80px;
    font-family: "futura_oblique", sans-serif;
    font-size: 12px;
    font-weight: 300; }
  #servicios .servicio {
    margin: 15px 0; }
    #servicios .servicio a {
      display: block;
      float: left;
      width: 100%;
      height: auto;
      position: relative;
      color: #fff;
      line-height: 40px;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 400; }
      #servicios .servicio a span {
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 15px;
        width: 100%;
        z-index: 99;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #servicios .servicio a span img {
          width: 40px; }
      #servicios .servicio a:hover span, #servicios .servicio a:focus span {
        background-color: #249119; }

/** COTIZADOR */
#cotizador {
  background: url(../../assets/img/bg_cotizacion.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 549px;
  padding: 80px 0; }
  #cotizador h2, #cotizador h5 {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #fff; }
  #cotizador h2 {
    font-family: "futura_oblique", sans-serif;
    font-size: 54px;
    font-weight: 300; }
  #cotizador h5 {
    font-family: "futura_oblique", sans-serif;
    font-size: 12px;
    font-weight: 300; }
  #cotizador hr {
    border-color: #27A74F; }
  #cotizador .item-frm {
    position: relative;
    width: 100%;
    padding: 0 0 10px;
    float: left; }
    #cotizador .item-frm.titulos {
      margin-top: 30px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 500; }
    #cotizador .item-frm .row {
      padding-right: 0 !important; }
    #cotizador .item-frm .select {
      position: relative; }
      #cotizador .item-frm .select .form-control {
        border: 3px solid #046320;
        height: 50px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300; }
      #cotizador .item-frm .select:before {
        content: "";
        background: #fff url(../../assets/img/arrow-select.svg) no-repeat;
        position: absolute;
        height: 42px;
        width: 42px;
        top: 5px;
        right: 5px;
        pointer-events: none; }
    #cotizador .item-frm .inputs-text input[type="text"] {
      width: initial !important;
      text-align: center;
      border: 3px solid #046320;
      height: 50px;
      width: 33.3333333% !important;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 300; }
      #cotizador .item-frm .inputs-text input[type="text"]:nth-child(2) {
        color: #fff;
        background: #2db547; }
      #cotizador .item-frm .inputs-text input[type="text"]:nth-child(3) {
        color: #fff;
        background: #032709; }
  #cotizador button, #cotizador a.btn {
    background-color: #2db547;
    border: 3px solid #387b36;
    color: #fff;
    letter-spacing: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    font-family: "futura_extend", sans-serif;
    font-size: 14px;
    font-weight: 300; }
  #cotizador .footer a {
    color: #fff;
    line-height: 40px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300; }
  #cotizador .footer .total {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 500; }
    #cotizador .footer .total span {
      font-size: 23px; }

/** TESTIMONIOS CAROUSEL */
.carousel {
  padding: 80px 0 20px; }

.carousel-caption {
  position: relative !important;
  right: 0 !important;
  left: 0 !important;
  text-shadow: 0 0 0 transparent !important;
  padding-bottom: 50px !important; }
  .carousel-caption p, .carousel-caption .section article li, .section article .carousel-caption li {
    color: #333;
    margin: 0 0 50px;
    line-height: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300; }
  .carousel-caption h3 {
    color: #333;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700; }
  .carousel-caption h4,
  .carousel-caption h4 > p,
  .carousel-caption .section article h4 > li,
  .section article .carousel-caption h4 > li {
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500; }
  .carousel-caption h4 > p, .carousel-caption .section article h4 > li, .section article .carousel-caption h4 > li {
    line-height: 12px;
    margin-bottom: 0; }

.carousel .carousel-indicators {
  bottom: 30px !important; }
  .carousel .carousel-indicators li {
    background-color: #cccccc;
    height: 18px !important;
    width: 18px !important;
    margin: 10px 5px;
    border: none; }
    .carousel .carousel-indicators li.active {
      background-color: #249119; }

/** ASIDE: .sidebar */
aside.sidebar {
  background: #fff;
  min-height: 360px !important; }
  aside.sidebar h3 {
    color: #fff;
    background-color: #249119;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500; }
  aside.sidebar .submenu li {
    width: 100%;
    padding: 0 20px;
    height: initial;
    float: left;
    position: relative; }
    aside.sidebar .submenu li a {
      width: 100%;
      min-height: 50px;
      float: left;
      position: relative;
      background: url("../../assets/img/arrow_sidebar.svg") no-repeat center right;
      background-size: 20px;
      border-bottom: 1px solid #ccc;
      color: #666;
      text-transform: uppercase;
      line-height: 26px;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 700;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;}
    aside.sidebar .submenu li:hover, aside.sidebar .submenu li:focus {
      background: #249119; }
      aside.sidebar .submenu li:hover a, aside.sidebar .submenu li:focus a {
        background-image: url("../../assets/img/arrow_sidebar_hover.svg");
        color: #fff;
        border-bottom: 0px; }
  aside.sidebar .submenu .active {
    background: #249119; }
    aside.sidebar .submenu .active a {
      background-image: url("../../assets/img/arrow_sidebar_hover.svg");
      color: #fff;
      border-bottom: 0px; }
  aside.sidebar .submenu_nosotros li a {
    background-color: #fff;
    color: #666;
    text-transform: initial;
    background-image: url("../../assets/img/arrow_sidebar1.svg");
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500; }
  aside.sidebar .submenu_nosotros li:hover, aside.sidebar .submenu_nosotros li:focus {
    background: #fff; }
    aside.sidebar .submenu_nosotros li:hover a, aside.sidebar .submenu_nosotros li:focus a {
      color: #249119;
      background-image: url("../../assets/img/arrow_sidebar1_hover.svg");
      border-bottom: 1px solid #ccc; }
  aside.sidebar .submenu_nosotros .active {
    background: #fff; }
    aside.sidebar .submenu_nosotros .active a {
      color: #249119;
      background-image: url("../../assets/img/arrow_sidebar1_hover.svg");
      border-bottom: 1px solid #ccc; }

aside.sidebar_qs {
  background: transparent; }
  aside.sidebar_qs .row {
    margin-bottom: 20px;
    background-color: #fff; }
  aside.sidebar_qs .row:nth-child(1) {
    background-color: #fff;
    padding-bottom: 50px;
    border-bottom: 5px solid #249119; }
  aside.sidebar_qs .banner {
    position: relative;
    float: left;
    width: 100%; }
    aside.sidebar_qs .banner .img-responsive {
      width: 100%; }
    aside.sidebar_qs .banner .tenor {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      aside.sidebar_qs .banner .tenor .txt {
        width: 100%;
        float: left;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        line-height: 31px;
        color: #fff;
        letter-spacing: 1px;
        font-family: "futura_oblique", sans-serif;
        font-size: 23px;
        font-weight: 300; }
      aside.sidebar_qs .banner .tenor .txt .btn {
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
        padding: 5px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        border-radius: 40px;
        font-family: "futura_normal", sans-serif;
        font-size: 14px;
        font-weight: 300; }
        aside.sidebar_qs .banner .tenor .txt .btn span {
          background-color: #249119;
          padding: 15px 50px;
          display: block;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          border-radius: 40px; }
  aside.sidebar_qs .carousel {
    padding: 0; }
    aside.sidebar_qs .carousel header {
      height: initial;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: center;
      padding: 10px 0 !important;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 300; }
      aside.sidebar_qs .carousel header:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(85, 114, 133, 0);
        border-top-color: rgba(0, 0, 0, 0.5);
        border-width: 8px;
        margin-left: -8px; }
    aside.sidebar_qs .carousel .item img {
      width: 100%; }
    aside.sidebar_qs .carousel .item .tenor {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      aside.sidebar_qs .carousel .item .tenor h2 {
        width: 100%;
        float: left;
        position: relative;
        text-transform: uppercase;
        line-height: 31px;
        color: #333333;
        letter-spacing: 1px;
        line-height: 26px;
        font-family: "futura_extend", sans-serif;
        font-size: 26px;
        font-weight: 300; }
        aside.sidebar_qs .carousel .item .tenor h2 span {
          display: inline-block;
          font-size: 19px; }
      aside.sidebar_qs .carousel .item .tenor .btn {
        color: #fff;
        background: rgba(0, 0, 0, 0.15);
        letter-spacing: 1px;
        padding: 5px;
        text-transform: uppercase;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        border-radius: 40px;
        font-family: "futura_normal", sans-serif;
        font-size: 14px;
        font-weight: 300; }
        aside.sidebar_qs .carousel .item .tenor .btn span {
          background-color: #249119;
          padding: 15px 50px;
          display: block;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          -ms-border-radius: 40px;
          border-radius: 40px; }
    aside.sidebar_qs .carousel footer {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      width: 100%;
      position: relative;
      background: #fff;
      float: left;
      margin-top: 0; }
      aside.sidebar_qs .carousel footer .link {
        color: #999;
        display: block;
        width: calc(100% - 114px);
        letter-spacing: 0.5px;
        float: left;
        text-align: center;
        line-height: 46px;
        font-family: "futura_normal", sans-serif;
        font-size: 13px;
        font-weight: 700; }
      aside.sidebar_qs .carousel footer a[data-slide="prev"],
      aside.sidebar_qs .carousel footer a[data-slide="next"] {
        padding: 15px 20px;
        display: block;
        position: relative; }
      aside.sidebar_qs .carousel footer a[data-slide="prev"] {
        border-right: 1px solid #ccc; }
      aside.sidebar_qs .carousel footer a[data-slide="next"] {
        border-left: 1px solid #ccc; }

/** BREADCRUMB */
.breadcrumb {
  margin-bottom: 0;
  height: 50px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
  line-height: 50px;
  padding: 0 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500; }
  .breadcrumb li a {
    color: #999; }
  .breadcrumb li + li:before {
    content: "|";
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500; }
  .breadcrumb .active {
    color: #249119; }

/**
****** NOSOTROS ******
*/
.section article {
  /* CARRITO */ }
  .section article header {
    height: initial; }
    .section article header h1 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500; }
  .section article img {
    border: 3px solid #ccc; }
  .section article h2 {
    color: #666;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 500; }
  .section article h3 {
    color: #333;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500; }
  .section article hr {
    border-color: #cccccc;
    border-width: 3px; }
  .section article hr.linea {
    margin: 20px 0;
    border-width: 1px; }
  .section article p, .section article li {
    color: #333333;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300; }
  .section article li {
    margin-bottom: 10px;
    background: url("../../assets/img/check_list.svg") left center no-repeat;
    background-size: 15px;
    padding-left: 20px; }
  .section article .dr {
    margin-bottom: 30px; }
    .section article .dr h3 {
      text-align: center;
      color: #666;
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600; }
    .section article .dr h4 {
      color: #249119;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 500; }
  .section article .servicios, .section article .lst-items {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    height: auto; }
  .section article .lst-items {
    min-height: 800px; }
    .section article .lst-items .page {
      display: none; }
      .section article .lst-items .page .bootpag {
        display: none; }
    .section article .lst-items .activePage {
      display: block; }
  .section article .pages .pagination li.prev a {
    display: block;
    position: relative;
    float: left;
    width: 44px;
    height: 44px;
    text-indent: -666em; }
    .section article .pages .pagination li.prev a:before {
      content: "";
      background-image: url(../../assets/img/pag_arrow_left.svg);
      background-size: 44px;
      top: 0;
      left: 0;
      position: absolute;
      width: 44px;
      height: 44px; }
  .section article .pages .pagination li.next a {
    display: block;
    position: relative;
    float: left;
    width: 44px;
    height: 44px;
    text-indent: -666em; }
    .section article .pages .pagination li.next a:before {
      content: "";
      background-image: url(../../assets/img/pag_arrow_right.svg);
      background-size: 44px;
      top: 0;
      left: 0;
      position: absolute;
      width: 44px;
      height: 44px; }
  .section article .item {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccc; }
    .section article .item h2 {
      color: #333;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 700; }
    .section article .item .arrow_box {
      border-width: 1px;
      position: relative;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      float: left;
      margin: 0 0 20px 0; }
      .section article .item .arrow_box:before {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        content: ' ';
        height: 15px;
        width: 15px;
        left: 30px;
        position: absolute;
        transform: rotate(45deg);
        top: -7px;
        background: #fff; }
    .section article .item .inputs {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500; }
      .section article .item .inputs .unit, .section article .item .inputs .cant, .section article .item .inputs .total {
        border: 1px solid #ccc;
        background: #dddddd;
        height: 50px;
        text-align: center;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300; }
      .section article .item .inputs .cant {
        color: #666;
        background: #fff; }
      .section article .item .inputs .total {
        color: #fff;
        background: #999; }
    .section article .item .btn {
      background-color: #249119;
      padding: 15px 20px;
      display: block;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      margin-top: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600; }
    .section article .item .select {
      position: relative; }
      .section article .item .select .form-control {
        border: 1px solid #ccc;
        height: 50px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300; }
      .section article .item .select:before {
        content: "";
        background: #fff url(../../assets/img/arrow-select.svg) no-repeat;
        position: absolute;
        height: 42px;
        width: 42px;
        top: 5px;
        right: 5px;
        pointer-events: none; }
  .section article nav {
    margin-top: 50px; }
    .section article nav .pagination li:first-child, .section article nav .pagination li:last-child {
      background: none;
      padding-left: 0; }
      .section article nav .pagination li:first-child a, .section article nav .pagination li:last-child a {
        padding: 6px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        .section article nav .pagination li:first-child a img, .section article nav .pagination li:last-child a img {
          width: 30px;
          border: 0px; }
    .section article nav .pagination li {
      background: none;
      padding-left: 0; }
      .section article nav .pagination li a {
        color: #999;
        padding: 9px 16px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 500; }
        .section article nav .pagination li a:focus, .section article nav .pagination li a:hover {
          color: #fff;
          background-color: #444644;
          border-color: #444644; }
    .section article nav .pagination .active > a,
    .section article nav .pagination .active > a:focus,
    .section article nav .pagination .active > a:hover {
      color: #fff;
      background-color: #444644;
      border-color: #444644; }
  .section article .carrito header {
    position: relative;
    float: left;
    width: 100%;
    color: #333;
    padding: 5px 0 !important;
    border-bottom: 1px solid #ccc;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500; }
  .section article .carrito .item {
    padding: 5px 0;
    border-width: 1px;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .section article .carrito .item .delete_item {
      background: none;
      border: 0px;
      float: initial;
      opacity: 100;
      margin: 7px 0;
      position: initial; }
      .section article .carrito .item .delete_item img {
        border: 0px;
        width: 35px; }
  .section article .carrito footer {
    color: #333;
    text-transform: uppercase;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600; }
    .section article .carrito footer > div {
      padding: 10px 15px; }
    .section article .carrito footer h2 {
      color: #333;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500; }
    .section article .carrito footer .subtotal {
      border-bottom: 1px solid #ccc; }
    .section article .carrito footer .total {
      color: #fff;
      background: #999;
      margin-bottom: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    .section article .carrito footer .other-datos {
      display: none; }
    .section article .carrito footer .others, .section article .carrito footer .contacto {
      border-top: 1px solid #ccc;
      padding: 50px 0;
      text-transform: initial;
      color: #000;
      line-height: 40px;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 600; }
      .section article .carrito footer .others .btn, .section article .carrito footer .contacto .btn {
        color: #fff;
        background: #249119;
        text-transform: uppercase;
        padding: 10px 20px;
        letter-spacing: 1px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 600; }
      .section article .carrito footer .others .return, .section article .carrito footer .contacto .return {
        background: #bebebe; }
      .section article .carrito footer .others p, .section article .carrito footer .others li, .section article .carrito footer .contacto p, .section article .carrito footer .contacto li {
        color: #666;
        padding: 50px 0 0;
        text-transform: initial;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 500; }
        .section article .carrito footer .others p span, .section article .carrito footer .others li span, .section article .carrito footer .contacto p span, .section article .carrito footer .contacto li span {
          color: #249119; }
      .section article .carrito footer .others form, .section article .carrito footer .contacto form {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 30px; }
        .section article .carrito footer .others form div:first-child, .section article .carrito footer .contacto form div:first-child {
          padding-left: 0px; }
        .section article .carrito footer .others form .inputs > div, .section article .carrito footer .contacto form .inputs > div {
          padding: 0 15px 0 0; }
        .section article .carrito footer .others form input, .section article .carrito footer .contacto form input {
          height: 45px; }
        .section article .carrito footer .others form input[type=radio]:not(old), .section article .carrito footer .contacto form input[type=radio]:not(old) {
          width: 10px;
          height: 28px;
          margin: 0;
          padding: 0;
          font-size: 1em;
          opacity: 0; }
        .section article .carrito footer .others form input[type=radio]:not(old) + label,
        .section article .carrito footer .others form input[type=radio]:not(old) + em + label, .section article .carrito footer .contacto form input[type=radio]:not(old) + label,
        .section article .carrito footer .contacto form input[type=radio]:not(old) + em + label {
          display: inline-block;
          margin-left: -2em;
          line-height: 13px;
          color: #666;
          cursor: pointer;
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          font-weight: 500; }
        .section article .carrito footer .others form input[type=radio]:not(old) + label > span,
        .section article .carrito footer .others form input[type=radio]:not(old) + em + label > span, .section article .carrito footer .contacto form input[type=radio]:not(old) + label > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old) + em + label > span {
          display: inline-block;
          width: 13px;
          height: 13px;
          margin: 12px 5px 0px 10px;
          border: 1px solid silver;
          background: #fff;
          vertical-align: bottom;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          border-radius: 50px; }
        .section article .carrito footer .others form input[type=radio]:not(old):checked + label > span,
        .section article .carrito footer .others form input[type=radio]:not(old):checked + em + label > span, .section article .carrito footer .contacto form input[type=radio]:not(old):checked + label > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old):checked + em + label > span {
          background: #fff; }
        .section article .carrito footer .others form input[type=radio]:not(old):checked + label > span > span,
        .section article .carrito footer .others form input[type=radio]:not(old):checked + em + label > span > span,
        .section article .carrito footer .others form input[type=radio]:not(old) + label > span > span,
        .section article .carrito footer .others form input[type=radio]:not(old) + em + label > span > span, .section article .carrito footer .contacto form input[type=radio]:not(old):checked + label > span > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old):checked + em + label > span > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old) + label > span > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old) + em + label > span > span {
          display: block;
          width: 7px;
          height: 7px;
          margin: 2px;
          border-radius: 50px;
          background: #249119;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          border-radius: 50px; }
        .section article .carrito footer .others form input[type=radio]:not(old) + label > span > span,
        .section article .carrito footer .others form input[type=radio]:not(old) + em + label > span > span, .section article .carrito footer .contacto form input[type=radio]:not(old) + label > span > span,
        .section article .carrito footer .contacto form input[type=radio]:not(old) + em + label > span > span {
          background: #ccc; }
      .section article .carrito footer .others form.sinborde, .section article .carrito footer .contacto form.sinborde {
        border-bottom: 0px; }
    .section article .carrito footer .contacto {
      padding: 0;
      border-top: 0; }
      .section article .carrito footer .contacto h2 {
        margin: 0 0 10px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 700; }
      .section article .carrito footer .contacto h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600; }
      .section article .carrito footer .contacto p, .section article .carrito footer .contacto li {
        padding: 0; }
      .section article .carrito footer .contacto form {
        border-bottom: 0; }
        .section article .carrito footer .contacto form div {
          padding: 0; }
        .section article .carrito footer .contacto form .inputs {
          float: left;
          width: 100%;
          position: relative;
          margin-bottom: 30px; }
        .section article .carrito footer .contacto form .send {
          padding: 12px 80px;
          background: #666; }
      .section article .carrito footer .contacto address p, .section article .carrito footer .contacto address li {
        line-height: 22px;
        margin: 0;
        padding: 10px 0;
        letter-spacing: 1px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300; }
      .section article .carrito footer .contacto address img {
        width: 20px;
        float: left;
        border: 0;
        margin-right: 10px; }
      .section article .carrito footer .contacto address p:nth-child(2) img, .section article .carrito footer .contacto address li:nth-child(2) img {
        width: 16px;
        margin-top: 4px; }

/**
****** GOOGLE MAP ******
*/
#google-map {
  width: 100%;
  height: 100%;
  min-height: 510px;
  max-height: 510px;
  position: relative;
  float: left; }

/**
****** FAQ ******
*/
section {
  padding-right: 0 !important; }
  section .section {
    width: 100%;
    margin-left: 0;
    background-color: #fff;
    position: relative;
    float: left;
    padding: 50px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

#accordion .panel {
  border: 0px; }
  #accordion .panel .content-tab {
    display: none; }
  #accordion .panel:first-child .content-tab {
    display: block; }
#accordion .panel-heading {
  background-color: #fff;
  height: 46px;
  padding: 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  #accordion .panel-heading .panel-title a {
    float: left;
    width: 100%;
    line-height: 46px;
    text-decoration: none;
    color: #666666;
    padding: 0 0 0 15px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #accordion .panel-heading .panel-title > a.accordion-toggle::before,
  #accordion .panel-heading a[data-toggle="icon"]::before {
    background: url("../../assets/img/icon-minus.svg") no-repeat center;
    background-size: 21px;
    float: right;
    width: 45px;
    height: 45px;
    content: "";
    border-left: 1px solid #ccc; }
  #accordion .panel-heading .panel-title > a.open::before,
  #accordion .panel-heading a.collapsed[data-toggle="collapse"]::before {
    background-image: url("../../assets/img/icon-plus.svg"); }
#accordion .panel-body {
  border: 0px; }
  #accordion .panel-body p, #accordion .panel-body .section article li, .section article #accordion .panel-body li {
    text-align: justify;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300; }

/**
****** MODAL ******
*/
.modal.fade.in {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.modal-content {
  border: 6px solid #249119;
  padding: 100px 80px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px; }
    .modal-content .close img {
      width: 32px; }
  .modal-content h4 {
    color: #249119;
    font-family: "futura_normal", sans-serif;
    font-size: 72px;
    font-weight: 700; }
  .modal-content p, .modal-content .section article li, .section article .modal-content li {
    color: #333;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 300; }
  .modal-content a {
    color: #249119;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700; }
    .modal-content a img {
      width: 32px;
      display: inline-block; }
  .modal-content .btn {
    color: #999;
    width: 190px;
    height: 46px;
    border: 1px solid #ccc;
    background: #dedede;
    text-transform: uppercase;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600; }

/**
 * ************************************
 * BACK-END
 * ************************************
 */
#backend {
  background: #ececec; }
  #backend .form-group{
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding: 7px 12px; }
  #backend .form-group .form-control{
    border: none;
    min-height: 25px;
    padding: 0;
    margin-top: 0px;
    background: none;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #backend .form-group .help-block{
    font-size: 11px; }
  #backend .form-group .btn.active{
    border: 5px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.525);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.525);}
  #backend .form-group:hover{
    background-color: #f0f0f0; }
  #backend .form-group.required:after {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
  }
  #backend .print {
    background: #dddddd;
    border: 0;
    padding: 10px 40px;
    color: #999;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600; }
  #backend .download {
    margin-left: 10px;
    background: #249119 !important;
    border: 0;
    padding: 10px 40px;
    color: #fff !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600; }
  #backend nav {
    margin-top: 50px; }
    #backend nav .pagination li:first-child, #backend nav .pagination li:last-child {
      background: none;
      padding-left: 0; }
      #backend nav .pagination li:first-child a, #backend nav .pagination li:last-child a {
        padding: 6px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        #backend nav .pagination li:first-child a img, #backend nav .pagination li:last-child a img {
          width: 30px;
          border: 0px; }
    #backend nav .pagination li {
      background: none;
      padding-left: 0; }
      #backend nav .pagination li a {
        color: #999;
        padding: 9px 16px;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 500; }
        #backend nav .pagination li a:focus, #backend nav .pagination li a:hover {
          color: #fff;
          background-color: #444644;
          border-color: #444644; }
    #backend nav .pagination .active > a,
    #backend nav .pagination .active > a:focus,
    #backend nav .pagination .active > a:hover {
      color: #fff;
      background-color: #444644;
      border-color: #444644; }
  #backend .bg {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    background: url(../../assets/img/bg-backend.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  #backend .login header {
    padding: 15px 0 !important; }
  #backend .login main {
    padding: 50px 100px;
    background: #e9e9e9;
    /* basics */ }
    #backend .login main h2, #backend .login main h3 {
      color: #333;
      text-transform: uppercase;
      letter-spacing: -1px;
      margin-bottom: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 900; }
    #backend .login main h3 {
      margin: 0 0 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 700; }
    #backend .login main .form-group {
      margin: 5px 0 0; }
    #backend .login main .form-control {
      color: #959595;
      letter-spacing: 0.5px;
      padding: 12px;
      height: initial;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 400; }
    #backend .login main .form-control:required {
      border: 1px solid #ccc; }
    #backend .login main .form-control:valid {
      border: 1px solid #ccc; }
    #backend .login main .btn {
      background: #00923f;
      border-color: #00923f;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600; }
    #backend .login main label {
      line-height: 20px;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      font-weight: 400; }
  #backend header {
    height: 120px;
    border-bottom: 1px solid #ccc; }
    #backend header .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    #backend header .brand {
      padding: 18px 0 !important; }
    #backend header form .btn {
      color: #999999;
      background: #e5e5e5;
      padding: 3px 40px;
      height: 40px;
      font-size: 20px; }
    #backend header form .form-control {
      height: 40px;
      font-style: italic;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 300; }
    #backend header .log button {
      background: none;
      border: 0;
      color: #666;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 600; }
    #backend header .log .dropdown-toggle img:first-child {
      margin-right: 5px;
      display: inline-block;
      width: 32px; }
    #backend header .log .dropdown-toggle img:last-child {
      margin-left: 5px;
      margin-top: -3px;
      display: inline-block;
      width: 16px; }
    #backend header .log .dropdown-menu {
      text-transform: uppercase;
      padding: 0;
      min-width: auto;
      padding: 12px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      #backend header .log .dropdown-menu:before {
        content: "";
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        top: -6px;
        right: 10px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg); }
      #backend header .log .dropdown-menu a {
        padding: 5px 10px;
        color: #999;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        display: block;
        min-width: 120px;
        font-weight: 600; }
        #backend header .log .dropdown-menu a:hover, #backend header .log .dropdown-menu a:focus {
          background-color: #fff; }
  #backend main {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    display: block; }
  #backend .tabs {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 1px solid #ccc; }
    #backend .tabs .title {
      min-height: 60px;
      padding: 20px 30px 10px; }
      #backend .tabs .title h5 {
        text-transform: uppercase;
        color: #363636;
        line-height: 31px;
        margin-top: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 600; }
      #backend .tabs .title a.btn {
        border: 1px solid #cbcbcb;
        background: #fff;
        padding: 10px 60px;
        color: #999;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600; }
    #backend .tabs .nav li {
      padding: 0 40px; }
    #backend .tabs .nav li a {
      color: #333;
      text-transform: uppercase;
      border: 0px;
      padding: 20px 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 700; }
      #backend .tabs .nav li a:hover {
        background: transparent; }
    #backend .tabs .nav .active a {
      border: 0px;
      border-bottom: 3px solid #009240;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
  #backend .tab-content table caption {
    color: #363636;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600; }
  #backend .tab-content table.dataTable.no-footer {
    border: 0; }
  #backend .tab-content thead {
    display: none; }
  #backend .table1 thead{
    display: table-header-group;
    width: 100%; }
  #backend .table1 td{
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  #backend .table1 td a img{
    margin: 0 !important;
    width: 24px !important; }
  #backend .tab-content td {
    padding: 10px 0 50px;
    color: #989898;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500; }
    #backend .tab-content td label {
      display: block;
      color: #333;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600; }
    #backend .tab-content td a img {
      margin: 5px auto;
      width: 32px;
      text-align: center; }
  #backend .tab-content table.tableEst thead {
    display: table-header-group;
    width: 100%; }
    #backend .tab-content table.tableEst thead th {
      padding: 10px 0;
      color: #333;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      border-bottom: 0; }
      #backend .tab-content table.tableEst thead th:nth-child(3), #backend .tab-content table.tableEst thead th:nth-child(4) {
        text-align: center; }
  #backend .tab-content table.tableEst tbody td {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0 !important;
    vertical-align: middle; }
    #backend .tab-content table.tableEst tbody td:nth-child(2) {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-transform: initial; }
    #backend .tab-content table.tableEst tbody td:nth-child(3), #backend .tab-content table.tableEst tbody td:nth-child(4) {
      text-align: center; }
    #backend .tab-content table.tableEst tbody td .cant {
      color: #666;
      background: #fff;
      height: 50px;
      width: 80px;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      float: initial;
      margin: 0 auto; }
    #backend .tab-content table.tableEst tbody td .total {
      color: #fff;
      background: #999;
      height: 50px;
      width: 80px;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      float: initial;
      margin: 0 auto; }
  #backend .tab-content .center {
    padding: 10px 10px 20px; }
    #backend .tab-content .center label {
      width: 100%;
      position: relative;
      text-align: center; }
    #backend .tab-content .center a, #backend .tab-content .center span {
      cursor: pointer;
      width: 100%;
      text-align: center;
      position: relative;
      display: block; }
    #backend .tab-content .center span {
      background-color: #444644;
      color: #fff;
      padding: 10px 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
  #backend .tab-content .center:last-child {
    vertical-align: middle; }
    #backend .tab-content .center:last-child a {
      color: #fff;
      padding: 10px 15px;
      text-transform: uppercase;
      background-color: #999999;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 700; }
  #backend .tab-content .center:last-child a.delete{
    padding:  0 !important;
    background: transparent !important;
  }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate {
    margin-top: 70px;
    position: absolute;
    padding: 0;
    right: -30px;
    background-color: #fff; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #999 !important;
    margin-left: 0;
    border: 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 0; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #444644;
    color: #fff !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .previous,
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .next {
    text-indent: -666rem;
    white-space: nowrap; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .previous {
    border-left: 1px solid #ccc;
    background: url("../img/previous_pag.svg") center no-repeat;
    background-size: 28px; }
    #backend .tab-content .dataTables_wrapper .dataTables_paginate .previous:hover, #backend .tab-content .dataTables_wrapper .dataTables_paginate .previous:focus {
      background: #ccc url("../img/previous_pag.svg") center no-repeat;
      background-size: 28px; }
  #backend .tab-content .dataTables_wrapper .dataTables_paginate .next {
    border-right: 1px solid #ccc;
    background: url("../img/next_pag.svg") center no-repeat;
    background-size: 28px; }
    #backend .tab-content .dataTables_wrapper .dataTables_paginate .next:hover, #backend .tab-content .dataTables_wrapper .dataTables_paginate .next:focus {
      background: #ccc url("../img/next_pag.svg") center no-repeat;
      background-size: 28px; }
  #backend .view-item {
    padding: 0 30px 50px; }
    #backend .view-item h5 {
      text-transform: uppercase;
      color: #363636;
      line-height: 31px;
      margin-top: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: 600; }
    #backend .view-item h4 {
      color: #363636;
      text-transform: capitalize;
      margin-bottom: 30px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500; }
      #backend .view-item h4 .input-data {
        padding: 0; }
    #backend .view-item .input-data {
      color: #323232;
      padding: 5px 0;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 300; }
      #backend .view-item .input-data label {
        min-width: 150px;
        color: #1c8a42;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300; }
    #backend .view-item .tbl {
      margin: 30px 0; }
      #backend .view-item .tbl .head {
        width: 100%;
        position: relative;
        float: left;
        margin-bottom: 1px;
        background: #249119;
        color: #fff;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 300; }
        #backend .view-item .tbl .head > div {
          border-right: 1px solid #fff;
          padding: 15px; }
          #backend .view-item .tbl .head > div:last-child {
            border-right: 0; }
      #backend .view-item .tbl .body .item {
        width: 100%;
        position: relative;
        float: left;
        background: #e9e8e7;
        margin-bottom: 1px;
        overflow: hidden;
        padding-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-weight: 400; }
        #backend .view-item .tbl .body .item > div {
          border-right: 1px solid #fff;
          padding: 20px 15px;
          padding-bottom: 32767px;
          margin-bottom: -32767px; }
          #backend .view-item .tbl .body .item > div:last-child {
            border-right: 0; }
      #backend .view-item .tbl .foot .item {
        width: 100%;
        position: relative;
        float: left;
        background: #cce9d8;
        margin-bottom: 1px;
        padding-bottom: 20px;
        overflow: hidden; }
        #backend .view-item .tbl .foot .item > div {
          border-right: 1px solid #fff;
          padding: 20px 15px;
          padding-bottom: 32767px;
          margin-bottom: -32767px;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: 600; }
          #backend .view-item .tbl .foot .item > div:last-child {
            border-right: 0; }
      #backend .view-item .tbl .total > div {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
        #backend .view-item .tbl .total > div:nth-child(2) {
          border-right: 1px solid #fff;
          -webkit-border-radius: 0 0 0 6px;
          -moz-border-radius: 0 0 0 6px;
          -ms-border-radius: 0 0 0 6px;
          border-radius: 0 0 0 6px; }
        #backend .view-item .tbl .total > div:nth-child(2), #backend .view-item .tbl .total > div:last-child {
          background: #249119;
          padding: 20px 15px;
          text-transform: uppercase; }
        #backend .view-item .tbl .total > div:last-child {
          border-right: 0;
          -webkit-border-radius: 0 0 6px 0;
          -moz-border-radius: 0 0 6px 0;
          -ms-border-radius: 0 0 6px 0;
          border-radius: 0 0 6px 0; }
    #backend .view-item .tbl-edit .head {
      background: transparent;
      border: 0;
      color: #333;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 600; }
      #backend .view-item .tbl-edit .head > div {
        padding: 5px 0;
        border-right: 0px;
        border-bottom: 1px solid #ccc; }
    #backend .view-item .tbl-edit .body .item {
      background: transparent;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 0;
      border-bottom: 1px solid #ccc; }
      #backend .view-item .tbl-edit .body .item .unit, #backend .view-item .tbl-edit .body .item .cant, #backend .view-item .tbl-edit .body .item .total {
        border: 1px solid #ccc;
        background: #dddddd;
        height: 50px;
        text-align: center;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 300; }
      #backend .view-item .tbl-edit .body .item .cant {
        color: #666;
        background: #fff; }
      #backend .view-item .tbl-edit .body .item .total {
        color: #fff;
        background: #999; }
      #backend .view-item .tbl-edit .body .item > div {
        padding: 0 5px;
        border-right: 0px;
        padding-bottom: initial;
        margin-bottom: initial; }
        #backend .view-item .tbl-edit .body .item > div:first-child, #backend .view-item .tbl-edit .body .item > div:nth-child(2) {
          padding: 15px 0; }
        #backend .view-item .tbl-edit .body .item > div:first-child {
          color: #333;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          font-weight: 700; }
    #backend .view-item .tbl-edit .foot .item {
      margin-bottom: 0;
      background: transparent;
      padding-bottom: 0; }
      #backend .view-item .tbl-edit .foot .item > div {
        border-right: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: initial; }
        #backend .view-item .tbl-edit .foot .item > div:first-child {
          border-bottom: 0; }
      #backend .view-item .tbl-edit .foot .item:last-child > div {
        border-bottom: 0; }
    #backend .view-item .tbl-edit .total {
      width: 100%;
      float: left;
      position: relative; }
      #backend .view-item .tbl-edit .total > div:nth-child(2) {
        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        -ms-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px; }
      #backend .view-item .tbl-edit .total > div:nth-child(2), #backend .view-item .tbl-edit .total > div:last-child {
        background: #999;
        border-right: 0; }
      #backend .view-item .tbl-edit .total > div:last-child {
        border-right: 0;
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        -ms-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0; }
    #backend .view-item .tbl-edit .total1 {
      margin-top: 10px; }
      #backend .view-item .tbl-edit .total1 > div {
        padding: 10px 0 !important;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        font-weight: 500; }
        #backend .view-item .tbl-edit .total1 > div:nth-child(3) {
          background: #999;
          padding: 20px 0px;
          border-right: 0; }
    #backend .view-item a.btn {
      border: 1px solid #cbcbcb;
      background: #fff;
      padding: 10px 60px;
      color: #999;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 600; }
    #backend .view-item a.btn-create{
        color: #fff;
        border-color: #4cae4c;
        background-color: #5cb85c;
    }
    #backend .view-item a.btn-return {
      background: #999999;
      color: #fff; }
  #backend #datetimepicker0 .datepicker .datepicker-days .table-condensed thead,
  #backend #datetimepicker1 .datepicker .datepicker-days .table-condensed thead,
  #backend #datetimepicker2 .datepicker .datepicker-days .table-condensed thead {
    display: table-header-group !important; }
  #backend #datetimepicker0 .datepicker .datepicker-days .table-condensed tbody td.day,
  #backend #datetimepicker1 .datepicker .datepicker-days .table-condensed tbody td.day,
  #backend #datetimepicker2 .datepicker .datepicker-days .table-condensed tbody td.day {
    padding: 10px 0 !important; }
  #backend #datetimepicker0 .timepicker .timepicker-picker .table-condensed td,
  #backend #datetimepicker1 .timepicker .timepicker-picker .table-condensed td,
  #backend #datetimepicker2 .timepicker .timepicker-picker .table-condensed td {
    padding: 10px !important; }
    #backend #datetimepicker0 .timepicker .timepicker-picker .table-condensed td a,
    #backend #datetimepicker1 .timepicker .timepicker-picker .table-condensed td a,
    #backend #datetimepicker2 .timepicker .timepicker-picker .table-condensed td a {
      padding: 0px !important; }
  #backend #datetimepicker0 input,
  #backend #datetimepicker1 input,
  #backend #datetimepicker2 input {
    border-right: 0;
    padding: 6px 5px; }
  #backend #datetimepicker0 .input-group-addon,
  #backend #datetimepicker1 .input-group-addon,
  #backend #datetimepicker2 .input-group-addon {
    padding: 0 4px;
    background: transparent;
    font-size: 24px;
    color: #ccc; }
  #backend #estadisticas .dp label {
    color: #333;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300; }

/**
 * ************************************
 * PDF
 * ************************************
 */
.pdf {
  background: #fff !important; }
  .pdf .tabs {
    border: 0 !important; }
  .pdf .header {
    padding: 20px 0; }
  .pdf .text {
    padding: 10px 0;
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400; }
    .pdf .text p, .pdf .text .section article li, .section article .pdf .text li {
      margin-bottom: 5px; }
    .pdf .text a {
      color: #239558; }
  .pdf .view-item h5 {
    letter-spacing: 1px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 29px !important;
    font-weight: 300 !important; }
  .pdf .view-item h6 {
    color: #20813F;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px !important;
    font-weight: 400 !important; }
  .pdf .info {
    color: #323232;
    text-align: justify;
    margin: 50px 0 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .pdf .info.p {
    margin: 0; }
  .pdf .info.green {
    color: #20813F; }

/**
 * ************************************
 * RESPONSIVE
 * ************************************
 */
button.navbar-toggle {
  position: absolute;
  top: 32%;
  right: 5px;
  z-index: 999;
  margin: 0; }
  button.navbar-toggle span {
    background: #249119; }

.navbar-collapse {
  position: absolute;
  top: 50px;
  z-index: 999;
  background: #fff;
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.table-responsive {
  overflow: hidden;
  padding: 0 0 100px; }

#backend .tab-content .dataTables_wrapper .dataTables_paginate {
  margin-top: 0;
  right: 0;
  top: 103%; }

.tbEst .dataTables_wrapper .dataTables_paginate {
  top: 120% !important;
  right: initial !important; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header .menu li a {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px; }

  header .menu li a span.subtitulo {
    font-size: 12px; }

  header .menu li a span.img {
    margin-right: 5px; }

  header .menu .cotizaciones {
    width: 130px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .menu li a span.subtitulo {
    font-size: 10px; }

  .table-responsive {
    overflow: initial;
    overflow-x: scroll; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .brand-logo {
    width: 200px; }

  .table-responsive {
    overflow: initial;
    overflow-x: scroll; }

  header {
    height: 153px; }

  header .menu li {
    border-left: 0px;
    height: 60px;
    border-bottom: 1px solid #dcdcdc; }
    header .menu li a {
      padding: 10px 5px; }

  header .menu .cotizaciones {
    width: 100%;
    border-left: 0; }

  #servicios {
    padding-right: 15px;
    padding-left: 15px; }

  #slider .ms-partialview-template .ms-slide .ms-info h3 {
    font-size: 30px; }

  #slider .ms-partialview-template .ms-slide .ms-info p, #slider .ms-partialview-template .ms-slide .ms-info .section article li, .section article #slider .ms-partialview-template .ms-slide .ms-info li {
    font-size: 11px;
    line-height: 14px; }

  #backend header form .btn {
    padding: 3px 10px; }

  #backend header .log button span {
    display: none; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .movil {
    padding-left: 0;
    margin-bottom: 30px; }

  .table-responsive {
    overflow: initial;
    overflow-x: scroll; }

  .brand-logo {
    width: 200px; }

  header {
    height: 153px; }

  header .sub-header .btn {
    padding: 4px 10px; }

  header .menu li {
    border-left: 0px;
    height: 60px;
    border-bottom: 1px solid #dcdcdc; }
    header .menu li a {
      padding: 10px 5px; }

  footer .text-left,
  footer .text-right {
    text-align: center; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .table-responsive {
    overflow: initial;
    overflow-x: scroll; }

  .brand-logo {
    width: 200px; }

  header {
    height: 153px; }

  header .sub-header .btn {
    padding: 4px 10px; }

  header .menu li {
    border-left: 0px;
    height: 60px;
    border-bottom: 1px solid #dcdcdc; }
    header .menu li a {
      padding: 10px 5px; }

  #servicios h2,
  #cotizador h2 {
    font-size: 34px; }

  .carousel-caption p, .carousel-caption .section article li, .section article .carousel-caption li {
    font-size: 18px;
    line-height: 28px; }

  #slider .ms-partialview-template .ms-slide .ms-info h3 {
    font-size: 18px; }

  #slider .ms-partialview-template .ms-slide .ms-info {
    width: 95%; }

  footer .text-left,
  footer .text-right {
    text-align: center; } }
.swal2-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1000; }

.swal2-modal {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  z-index: 2000; }

.swal2-modal:focus {
  outline: none; }

.swal2-modal.loading {
  overflow-y: hidden; }

.swal2-modal h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 60px;
  display: block; }

.swal2-modal hr {
  height: 10px;
  color: transparent;
  border: 0; }

.swal2-modal button.styled {
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 0 5px;
  cursor: pointer; }

.swal2-modal button.styled:focus {
  outline: none; }

.swal2-modal button.styled:not(.loading)[disabled] {
  opacity: .4;
  cursor: no-drop; }

.swal2-modal button.styled.loading {
  box-sizing: border-box;
  border: 4px solid transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: -2px 30px;
  vertical-align: top;
  background-color: transparent !important;
  color: transparent;
  cursor: default;
  border-radius: 100%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal; }

.swal2-modal button.styled::-moz-focus-inner {
  border: 0; }

.swal2-modal button:not(.styled).loading:after {
  display: inline-block;
  content: "";
  margin-left: 5px;
  vertical-align: -1px;
  height: 6px;
  width: 6px;
  border: 3px solid #999;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal; }

.swal2-modal .swal2-image {
  margin: 20px auto;
  max-width: 100%; }

.swal2-modal .swal2-close {
  font-size: 36px;
  line-height: 36px;
  font-family: serif;
  position: absolute;
  top: 5px;
  right: 13px;
  cursor: pointer;
  color: #cfcfcf;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.swal2-modal .swal2-close:hover {
  color: #d55; }

.swal2-modal > .swal2-input,
.swal2-modal > .swal2-textarea,
.swal2-modal > .swal2-select,
.swal2-modal > .swal2-radio,
.swal2-modal > .swal2-checkbox {
  display: none; }

.swal2-content {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #555; }

.swal2-icon {
  width: 80px;
  height: 80px;
  border: 4px solid #808080;
  border-radius: 50%;
  margin: 20px auto 30px;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  cursor: default;
  /* http://stackoverflow.com/a/4407335/1331425 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.swal2-icon.swal2-error {
  border-color: #f27474; }

.swal2-icon.swal2-error .x-mark {
  position: relative;
  display: block; }

.swal2-icon.swal2-error .line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.swal2-icon.swal2-error .line.left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px; }

.swal2-icon.swal2-error .line.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px; }

.swal2-icon.swal2-warning {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f8bb86;
  border-color: #f8bb86;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-info {
  font-family: "Open Sans", sans-serif;
  color: #3fc3ee;
  border-color: #3fc3ee;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-question {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c9dae1;
  border-color: #c9dae1;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-success {
  border-color: #a5dc86; }

.swal2-icon.swal2-success::before, .swal2-icon.swal2-success::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.swal2-icon.swal2-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.swal2-icon.swal2-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px; }

.swal2-icon.swal2-success .placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.swal2-icon.swal2-success .fix {
  width: 7px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.swal2-icon.swal2-success .line {
  height: 5px;
  background-color: #a5dc86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.swal2-icon.swal2-success .line.tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.swal2-icon.swal2-success .line.long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.swal2-input,
.swal2-textarea,
.swal2-select,
.swal2-radio,
.swal2-checkbox {
  margin: 20px auto; }

.swal2-input:not([type="file"]), .swal2-textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.swal2-input:not([type="file"]).error, .swal2-textarea.error {
  border-color: #f06e57 !important; }

.swal2-input:not([type="file"]):focus, .swal2-textarea:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.swal2-input:not([type="file"]):focus::-moz-placeholder, .swal2-textarea:focus::-moz-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.8; }

.swal2-input:not([type="file"]):focus:-ms-input-placeholder, .swal2-textarea:focus:-ms-input-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.8; }

.swal2-input:not([type="file"]):focus::-webkit-input-placeholder, .swal2-textarea:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.03s ease;
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.8; }

.swal2-input:not([type="file"])::-moz-placeholder, .swal2-textarea::-moz-placeholder {
  color: #bdbdbd; }

.swal2-input:not([type="file"]):-ms-input-placeholder, .swal2-textarea:-ms-input-placeholder {
  color: #bdbdbd; }

.swal2-input:not([type="file"])::-webkit-input-placeholder, .swal2-textarea::-webkit-input-placeholder {
  color: #bdbdbd; }

.swal2-input:not([type="file"]) {
  height: 43px;
  padding: 0 12px; }

.swal2-input[type="file"] {
  font-size: 20px; }

.swal2-textarea {
  height: 108px;
  padding: 12px; }

.swal2-select {
  color: #555;
  font-size: inherit;
  padding: 5px 10px;
  min-width: 40%;
  max-width: 100%; }

.swal2-radio {
  border: 0; }

.swal2-radio label:not(:first-child) {
  margin-left: 20px; }

.swal2-radio input, .swal2-radio span {
  vertical-align: middle; }

.swal2-radio input {
  margin: 0 3px 0 0; }

.swal2-checkbox {
  color: #555; }

.swal2-checkbox input, .swal2-checkbox span {
  vertical-align: middle; }

.swal2-validationerror {
  background-color: #f1f1f1;
  margin: 0 -20px;
  overflow: hidden;
  padding: 10px;
  color: #797979;
  font-size: 16px;
  font-weight: 300;
  display: none; }

.swal2-validationerror::before {
  content: "!";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 10px; }

@-webkit-keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }
@keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }
.show-swal2 {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.show-swal2.no-animation {
  -webkit-animation: none;
  animation: none; }

.hide-swal2 {
  -webkit-animation: hideSweetAlert 0.15s;
  animation: hideSweetAlert 0.15s; }

.hide-swal2.no-animation {
  -webkit-animation: none;
  animation: none; }

@-webkit-keyframes animate-success-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animate-success-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-webkit-keyframes animate-success-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@keyframes animate-success-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }
.animate-success-tip {
  -webkit-animation: animate-success-tip 0.75s;
  animation: animate-success-tip 0.75s; }

.animate-success-long {
  -webkit-animation: animate-success-long 0.75s;
  animation: animate-success-long 0.75s; }

.swal2-icon.swal2-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animate-error-icon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animate-error-icon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }
.animate-error-icon {
  -webkit-animation: animate-error-icon 0.5s;
  animation: animate-error-icon 0.5s; }

@-webkit-keyframes animate-x-mark {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animate-x-mark {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animate-x-mark {
  -webkit-animation: animate-x-mark 0.5s;
  animation: animate-x-mark 0.5s; }

@-webkit-keyframes pulse-warning {
  0% {
    border-color: #f8d486; }
  100% {
    border-color: #f8bb86; } }
@keyframes pulse-warning {
  0% {
    border-color: #f8d486; }
  100% {
    border-color: #f8bb86; } }
.pulse-warning {
  -webkit-animation: pulse-warning 0.75s infinite alternate;
  animation: pulse-warning 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=ualm.css.map */
